<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsp.mistory.common.mapper.ResourceMapper">
  <resultMap id="BaseResultMap" type="com.hsp.mistory.common.pojo.Resource">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="BIT" property="type" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="permission" jdbcType="VARCHAR" property="permission" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="is_use" jdbcType="VARCHAR" property="isUse" />
  </resultMap>
  <sql id="Base_Column_List">
    id, type, name, url, permission, create_time, is_use
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_resource
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_resource
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hsp.mistory.common.pojo.Resource">
    insert into tb_resource (id, type, name, url, 
      permission, create_time, is_use
      )
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=BIT}, #{name,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{permission,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{isUse,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hsp.mistory.common.pojo.Resource">
    insert into tb_resource
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="permission != null">
        permission,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="isUse != null">
        is_use,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=BIT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="permission != null">
        #{permission,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isUse != null">
        #{isUse,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hsp.mistory.common.pojo.Resource">
    update tb_resource
    <set>
      <if test="type != null">
        type = #{type,jdbcType=BIT},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="permission != null">
        permission = #{permission,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isUse != null">
        is_use = #{isUse,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hsp.mistory.common.pojo.Resource">
    update tb_resource
    set type = #{type,jdbcType=BIT},
      name = #{name,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      permission = #{permission,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      is_use = #{isUse,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>